langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
python-docx
docx2txt
unstructured[docx]
pandas
pymupdf
openpyxl
unstructured[excel]
unstructured 
openpyxl 
python-magic
unstructured[local-inference]
unstructured-client
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
langchain-google-genai
langchain-community 
langchain-core 
langchain
transformers 
sentence-transformers
